<html>
    <head>
        <title>strangeloop</title>
        <link rel="stylesheet" href="static/dist/style.css?v=1.1" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
        <script type="text/javascript" src="static/dist/numberToWords.min.js"></script>
    </head>
    <body>
        <div id="root">
            <div id="logocontainer">
                <img id="logo" src="static/logo.png">
            </div>
            <div id="controlcontainer"></div>
        </div>
        <script src="static/dist/bundle.js"></script>
    </body>
</html>
