<html>
    <head>
        <title>strangeloop</title>
        <link rel="stylesheet" href="static/style.css?v=1.1" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="root">
            <div id="logocontainer">
                <img id="logo" src="static/logo.png">
            </div>
            <div id="controlcontainer"></div>
        </div>
        <script>
            var sessionId = "{{ pedal.sessionid if pedal.sessionid }}"
            var owner = {% if (pedal.sessionid and pedal.owner) %} true; {% else %} false; {% endif %}	
            var loops = {{ list(pedal.loops.keys()) }};
	        var pedalDomain = "{{ pedal.domainname }}";
        </script>
        <script src="static/dist/bundle.js"></script>
    </body>
</html>
